nav {
  height: 75px;

  ul .nav-link {
    color: var(--primary) !important;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    transition: 0.3s;
    font-weight: 500;
    font-family: "ElMessiri", serif;
  }
}

@media screen and (max-width: 1199px) {
  nav ul .nav-link {
    padding: 0.5rem 0.25rem;
  }
}

@media screen and (max-width: 992px) {
  .navbar-brand img{
    max-width: 95px;
  }
}
