nav {
  height: 75px;

  ul .nav-link{
    color: var(--primary) !important;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    font-weight: 500;
    font-family: "ElMessiri", serif;
  }
}

