:root{
  --primary: #21446f;
  --blue: #214570;
  --green: #0d8f75;
}
@font-face {
  font-family: "ElMessiri";
  src: url(./assets/fonts/ElMessiri-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "ElMessiri";
  src: url(./assets/fonts/ElMessiri-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ElMessiri";
  src: url(./assets/fonts/ElMessiri-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "ElMessiri";
  src: url(./assets/fonts/ElMessiri-Bold.ttf);
  font-weight: 700;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "ElMessiri", serif;
  direction: rtl;
  text-align: right;
  font-weight: 400;
  font-size: 1rem;
}
